.btn {
  height: 400px;
  width: 40px;
  border-radius: 2px;
}
.btn-primary {
  /* box-shadow: 0 0 10px black; */
}

.btn.btn-primary {
  margin: 2px;
  background-color: rgb(71, 173, 241);
  border-color: rgb(80, 98, 255);
  border-width: 1px;
}
.btn:hover {
  background-color: black;
}
